.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

@media (min-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 573px) {
    .card {
        width: 270px;
    }
}

.card {
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
    margin: 0 auto;
    max-width: 430px;
    min-width: 240px;
    /*min-width: 400px;*/
    border-radius: 35px;
    opacity: 0.9;
    background: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0) 100%);
}

.card-title {
    color: #363535 !important;

    text-align: center !important;
    font-family: Roboto, sans-serif !important;
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    letter-spacing: 2.52px !important;
}

.card:hover {
    transform: scale(1.01);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}